/* ////////// POLICE ////////// */

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* ////////// TOUTE LA PAGE ////////// */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

/* ////////// HEADER ////////// */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
    z-index: 1;
}

header::after{
    position: absolute;
    content: '';
    width: 75%;
    height: 1.5px;
    background-color: black;
    bottom: 0;
    left: 12.5%;
}

header .gauche{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .gauche .pdp{
    width: 50px;
    height: 50px;
    background: url(img/photo_profil.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1.5px solid black;
    border-radius: 50%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
    margin-left: 25px;
    cursor: pointer;
    transition: transform 1.5s;
}

header .gauche .pdp:hover{
    transform: rotate(180deg);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
}

header .gauche .titre a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 15px;
    background: linear-gradient(to top, black 0px, black 1.5px, transparent 1.6px) no-repeat center bottom / 0% 100%;
    transition: background-size 0.5s;
}

header .gauche .titre a:hover{
    background-size: 100% 100%;
}

header .droite{
    margin-right: 25px;
}

header .droite a{
    font-size: small;
    text-decoration: none;
    color: black;
    margin-left: 50px;
    transition: color 0.5s;
}

header .droite a:hover{
    color: red;
}

header .droite_bis{
    margin-right: 25px;
    display: none;
    justify-content: center;
    align-items: center;
}

.checkbox{
    display: none;
}

header .droite_bis .burger{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

header .droite_bis .burger span{
    position: relative;
    width: 25px;
    height: 3px;
    border-radius: 10px;
    background-color: black;
    transition: background-color 0.5s;
}

header .droite_bis .burger span::before{
    position: absolute;
    content: '';
    width: 25px;
    height: 3px;
    top: 6px;
    border-radius: 10px;
    background-color: black;
    transition: transform 0.5s;
}

header .droite_bis .burger span::after{
    position: absolute;
    content: '';
    width: 25px;
    height: 3px;
    top: -6px;
    border-radius: 10px;
    background-color: black;
    transition: transform 0.5s;
}

.checkbox:checked ~ .burger span{
    background-color: transparent;
}

.checkbox:checked ~ .burger span::before{
    transform: rotate(45deg);
    top: 0;
}

.checkbox:checked ~ .burger span::after{
    transform: rotate(-45deg);
    top: 0;
}

.menu{
    position: fixed;
    top: 10vh;
    left: 12.5%;
    width: 75%;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    opacity: 0.75;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
    border-radius: 10px;
    transition: transform 0.5s, height 0.5s;
}

.menu a{
    display: none;
    text-decoration: none;
    color: black;
    font-size: large;
    transition: color 0.5s;
}

.checkbox:checked ~ .menu{
    transform: translateY(5vh);
    height: 80vh;
}

.checkbox:checked ~ .menu a{
    display: flex;
}

.checkbox:checked ~ .menu a:hover{
    color: red;
}

/* ////////// ACCUEIL ////////// */

.accueil{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.accueil .haut{
    position: relative;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
}

.accueil .haut .un{
    font-size: 3vh;
}

.accueil .haut .deux{
    font-size: 9vh;
    font-weight: bold;
    text-transform: uppercase;
}

.accueil .haut .trois{
    position: absolute;
    font-size: 3vh;
    right: 0;
}

.propos{
    display: none;
}

.propos_deux{
    display: flex;
    align-items: center;
    height: 25px;
    overflow: hidden;
    cursor: pointer;
    transition: height 0.5s;
}

.propos_deux .un{
    font-weight: bold;
}

.propos_deux .boite .deux{
    display: none;
    flex-direction: column;
    text-align: center;
    font-size: small;
    font-weight: bold;
    margin-left: 12.5%;
    max-width: 75%;
}

.propos_deux .boite .deux a{
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}

.propos:checked ~ .propos_deux{
    height: 50vh;
}

.propos:checked ~ .propos_deux .un{
    display: none;
}

.propos:checked ~ .propos_deux .boite .deux{
    display: flex;
}

.propos:checked ~ .propos_deux .boite .deux a:hover{
    color: red;
}

/* ////////// PARCOURS ////////// */

#parcours{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 25px;
}

#parcours::before{
    position: absolute;
    content: '';
    background-color: black;
    width: 30%;
    height: 1.5px;
    top: 0;
    left: 25%;
    border-radius: 10px;
}

#parcours::after{
    position: absolute;
    content: '';
    background-color: black;
    width: 15%;
    height: 1.5px;
    top: 0;
    right: 25%;
    border-radius: 10px;
}

#parcours .boite_un{
    position: relative;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
    background-color: white;
    opacity: 0.75;
    margin: 25px;
    padding: 15px;
}

#parcours .boite_un .un{
    position: absolute;
    top: -20px;
    left: 20px;
    font-size: large;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
    background-color: #E45A84;
}

#parcours .boite_un .deux{
    font-size: small;
}

#parcours .timeline{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px;
}

#parcours .timeline::before{
    position: absolute;
    content: '';
    background-color: black;
    width: 3px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
}

#parcours .timeline .lycee, #parcours .timeline .iut, #parcours .timeline .jp, #parcours .timeline .ubs, #parcours .timeline .co, #parcours .timeline .np{
    display: none;
}

#parcours .timeline .lycee_deux, #parcours .timeline .iut_deux, #parcours .timeline .jp_deux, #parcours .timeline .ubs_deux, #parcours .timeline .co_deux, #parcours .timeline .np_deux{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    margin: 25px;
}

.lycee_deux .texte p, .iut_deux .texte p, .jp_deux .texte p, .ubs_deux .texte p, .co_deux .texte p, .np_deux .texte p{
    font-size: small;
    text-align: center;
    padding: 15px;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
    display: none;
}

#parcours .timeline .lycee_deux .photo{
    width: 50px;
    height: 50px;
    background: url(img/lycee.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1.5px solid black;
    border-radius: 50%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
}

.lycee:checked ~ .lycee_deux .photo{
    display: none;
}

.lycee:checked ~ .lycee_deux .texte p{
    display: flex;
}

#parcours .timeline .iut_deux .photo{
    width: 50px;
    height: 50px;
    background: url(img/iut.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1.5px solid black;
    border-radius: 50%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
}

.iut:checked ~ .iut_deux .photo{
    display: none;
}

.iut:checked ~ .iut_deux .texte p{
    display: flex;
}

#parcours .timeline .jp_deux .photo{
    width: 50px;
    height: 50px;
    background: url(img/jp.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1.5px solid black;
    border-radius: 50%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
}

.jp:checked ~ .jp_deux .photo{
    display: none;
}

.jp:checked ~ .jp_deux .texte p{
    display: flex;
}

#parcours .timeline .ubs_deux .photo{
    width: 50px;
    height: 50px;
    background: url(img/ubs.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1.5px solid black;
    border-radius: 50%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
}

.ubs:checked ~ .ubs_deux .photo{
    display: none;
}

.ubs:checked ~ .ubs_deux .texte p{
    display: flex;
}

#parcours .timeline .co_deux .photo{
    width: 50px;
    height: 50px;
    background: url(img/co.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1.5px solid black;
    border-radius: 50%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
}

.co:checked ~ .co_deux .photo{
    display: none;
}

.co:checked ~ .co_deux .texte p{
    display: flex;
}

#parcours .timeline .np_deux .photo{
    width: 50px;
    height: 50px;
    background: url(img/np.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1.5px solid black;
    border-radius: 50%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
}

.np:checked ~ .np_deux .photo{
    display: none;
}

.np:checked ~ .np_deux .texte p{
    display: flex;
}

/* ////////// PASSIONS ////////// */

#passions{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 25px;
}

#passions::before{
    position: absolute;
    content: '';
    background-color: black;
    width: 30%;
    height: 1.5px;
    top: 0;
    left: 25%;
    border-radius: 10px;
}

#passions::after{
    position: absolute;
    content: '';
    background-color: black;
    width: 15%;
    height: 1.5px;
    top: 0;
    right: 25%;
    border-radius: 10px;
}

#passions .boite_un{
    position: relative;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
    background-color: white;
    opacity: 0.75;
    margin: 25px;
    padding: 15px;
}

#passions .boite_un .un{
    position: absolute;
    top: -20px;
    left: 20px;
    font-size: large;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
    background-color: #583C87;
}

#passions .boite_un .deux{
    font-size: small;
}

#passions .boite_quatre, #passions .boite_cinq, #passions .boite_deux, #passions .boite_trois{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cafe_deux, .velo_deux, .vin_deux, .biere_deux, .escalade_deux, .rubiks_deux, .projets_deux{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 125px;
    height: 125px;
    padding: 15px;
    margin: 25px;
    cursor: pointer;
    transition: width 0.5s, height 0.5s;
}

#passions .boite_cinq .cafe_deux .un, #passions .boite_trois .velo_deux .un, #passions .boite_cinq .vin_deux .un, #passions .boite_cinq .biere_deux .un, #passions .boite_trois .escalade_deux .un, #passions .boite_quatre .rubiks_deux .un, #passions .boite_deux .projets_deux .un{
    font-size: large;
    font-weight: bold;
    overflow: hidden;
}

#passions .boite_cinq .cafe_deux .deux, #passions .boite_trois .velo_deux .deux, #passions .boite_cinq .vin_deux .deux, #passions .boite_cinq .biere_deux .deux, #passions .boite_trois .escalade_deux .deux, #passions .boite_quatre .rubiks_deux .deux, #passions .boite_deux .projets_deux .deux{
    font-size: small;
    text-align: center;
    overflow: hidden;
}

.cafe, .velo, .vin, .biere, .escalade, .rubiks, .projets{
    display: none;
}

#passions .boite_cinq .cafe_deux .photo{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(img/cafe.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
    transition: opacity 0.5s;
}

.cafe:checked ~ .cafe_deux{
    width: 250px;
    height: 250px;
}

.cafe:checked ~ .cafe_deux .photo{
    opacity: 0.25;
}

#passions .boite_trois .velo_deux .photo{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(img/velo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
    transition: opacity 0.5s;
}

.velo:checked ~ .velo_deux{
    width: 250px;
    height: 250px;
}

.velo:checked ~ .velo_deux .photo{
    opacity: 0.25;
}

#passions .boite_cinq .vin_deux .photo{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(img/vin.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
    transition: opacity 0.5s;
}

.vin:checked ~ .vin_deux{
    width: 250px;
    height: 250px;
}

.vin:checked ~ .vin_deux .photo{
    opacity: 0.25;
}

#passions .boite_cinq .biere_deux .photo{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(img/biere.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
    transition: opacity 0.5s;
}

.biere:checked ~ .biere_deux{
    width: 250px;
    height: 250px;
}

.biere:checked ~ .biere_deux .photo{
    opacity: 0.25;
}

#passions .boite_trois .escalade_deux .photo{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(img/escalade.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
    transition: opacity 0.5s;
}

.escalade:checked ~ .escalade_deux{
    width: 250px;
    height: 250px;
}

.escalade:checked ~ .escalade_deux .photo{
    opacity: 0.25;
}

#passions .boite_quatre .rubiks_deux .photo{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(img/rubiks.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
    transition: opacity 0.5s;
}

.rubiks:checked ~ .rubiks_deux{
    width: 250px;
    height: 250px;
}

.rubiks:checked ~ .rubiks_deux .photo{
    opacity: 0.25;
}

#passions .boite_deux .projets_deux .photo{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(img/projets.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
    transition: opacity 0.5s;
}

.projets:checked ~ .projets_deux{
    width: 250px;
    height: 750px;
}

.projets:checked ~ .projets_deux .photo{
    opacity: 0.25;
}

.slider{
    overflow: hidden;
    width: 250px;
    margin: 25px auto;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);           
    border-radius: 10px;
}

.slides{
    width: calc(250px * 40);
    animation: défilement 210s infinite;
}

.slides img{
    float: left;
    width: 250px;
}

@keyframes défilement{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(calc(250px * -39));
    }
    100%{
        transform: translateX(0);
    }
}

/* ////////// CV ////////// */

#cv{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
}

#cv::before{
    position: absolute;
    content: '';
    background-color: black;
    width: 30%;
    height: 1.5px;
    top: 0;
    left: 25%;
    border-radius: 10px;
}

#cv::after{
    position: absolute;
    content: '';
    background-color: black;
    width: 15%;
    height: 1.5px;
    top: 0;
    right: 25%;
    border-radius: 10px;
}

#cv .gauche{
    position: relative;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
    background-color: white;
    opacity: 0.75;
    margin: 25px;
    padding: 15px;
}

#cv .gauche .un{
    position: absolute;
    top: -20px;
    left: 20px;
    font-size: large;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
    background-color: #FFACAC;
}

#cv .gauche .deux{
    font-size: small;
}

#cv a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    width: 25%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
}

#cv img{
    width: 100%;
}

/* ////////// CONTACT ////////// */

#contact{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
}

#contact::before{
    position: absolute;
    content: '';
    background-color: black;
    width: 30%;
    height: 1.5px;
    top: 0;
    left: 25%;
    border-radius: 10px;
}

#contact::after{
    position: absolute;
    content: '';
    background-color: black;
    width: 15%;
    height: 1.5px;
    top: 0;
    right: 25%;
    border-radius: 10px;
}

#contact .mail, #contact .linkedin, #contact .insta{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
    background-color: white;
    opacity: 0.75;
    margin: 25px;
}

#contact .mail .un, #contact .linkedin .un, #contact .insta .un{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    text-decoration: none;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
    top: -12.5px;
    transition: background-color 0.5s;
}

#contact .mail .un{
    background-color: #E45A84;
}

#contact .linkedin .un{
    background-color: #583C87;
}

#contact .insta .un{
    background-color: #FFACAC;
}

#contact .mail .un:hover, #contact .linkedin .un:hover, #contact .insta .un:hover{
    background-color: red;
}

#contact .mail p, #contact .linkedin p, #contact .insta p{
    position: absolute;
    bottom: 35px;
    font-size: large;
    font-weight: bold;
}

#contact .mail .deux, #contact .linkedin .deux, #contact .insta .deux{
    position: absolute;
    bottom: 15px;
    font-size: small;
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}

#contact .mail .deux:hover, #contact .linkedin .deux:hover, #contact .insta .deux:hover{
    color: red;
}

/* ////////// FOOTER ////////// */

footer{
    position: relative;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
    font-size: small;
    font-weight: bold;
}

footer::before{
    position: absolute;
    content: '';
    width: 75%;
    height: 1.5px;
    background-color: black;
    top: 0;
    left: 12.5%;
}

footer .gauche{
    margin-left: 25px;
}

footer .droite{
    margin-right: 25px;
}

footer .droite a{
    margin-left: 15px;
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}

footer .droite a:hover{
    color: red;
}

/* ////////// RESPONSIVE ////////// */

@media screen and (max-width: 850px){
    header .droite{
        display: none;
    }

    header .droite_bis{
        display: flex;
    }

    .accueil .haut .un{
        font-size: medium;
    }
    
    .accueil .haut .deux{
        font-size: 5vh;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .accueil .haut .trois{
        position: absolute;
        font-size: medium;
        right: 0;
    }
}

/* ////////// FOND ANIME ////////// */

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #ffffff;
    overflow: hidden;
    z-index: -2;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #FFACAC;
    top: 76%;
    left: 95%;
    animation-duration: 18s;
    animation-delay: -46s;
    transform-origin: -17vw 3vh;
    box-shadow: 40vmin 0 5.730457671921209vmin currentColor;
}
.background span:nth-child(1) {
    color: #583C87;
    top: 15%;
    left: 54%;
    animation-duration: 34s;
    animation-delay: -6s;
    transform-origin: -3vw 13vh;
    box-shadow: 40vmin 0 5.379983031484605vmin currentColor;
}
.background span:nth-child(2) {
    color: #FFACAC;
    top: 65%;
    left: 28%;
    animation-duration: 7s;
    animation-delay: -29s;
    transform-origin: -12vw 24vh;
    box-shadow: 40vmin 0 5.0137030758783165vmin currentColor;
}
.background span:nth-child(3) {
    color: #E45A84;
    top: 60%;
    left: 31%;
    animation-duration: 27s;
    animation-delay: -39s;
    transform-origin: 3vw 0vh;
    box-shadow: -40vmin 0 5.857739230123065vmin currentColor;
}
.background span:nth-child(4) {
    color: #583C87;
    top: 41%;
    left: 70%;
    animation-duration: 27s;
    animation-delay: -47s;
    transform-origin: 23vw -8vh;
    box-shadow: -40vmin 0 5.549160976962123vmin currentColor;
}
.background span:nth-child(5) {
    color: #FFACAC;
    top: 25%;
    left: 52%;
    animation-duration: 26s;
    animation-delay: -47s;
    transform-origin: 11vw 22vh;
    box-shadow: 40vmin 0 5.793727942120929vmin currentColor;
}
.background span:nth-child(6) {
    color: #583C87;
    top: 80%;
    left: 98%;
    animation-duration: 48s;
    animation-delay: -48s;
    transform-origin: 4vw 7vh;
    box-shadow: -40vmin 0 5.579076248369935vmin currentColor;
}
.background span:nth-child(7) {
    color: #583C87;
    top: 11%;
    left: 19%;
    animation-duration: 12s;
    animation-delay: -2s;
    transform-origin: 18vw 9vh;
    box-shadow: -40vmin 0 5.664477927692274vmin currentColor;
}
.background span:nth-child(8) {
    color: #E45A84;
    top: 60%;
    left: 79%;
    animation-duration: 9s;
    animation-delay: -13s;
    transform-origin: -13vw -7vh;
    box-shadow: -40vmin 0 5.188733616127985vmin currentColor;
}
.background span:nth-child(9) {
    color: #FFACAC;
    top: 7%;
    left: 84%;
    animation-duration: 41s;
    animation-delay: -43s;
    transform-origin: -4vw -21vh;
    box-shadow: 40vmin 0 5.0368399020818275vmin currentColor;
}
.background span:nth-child(10) {
    color: #E45A84;
    top: 16%;
    left: 56%;
    animation-duration: 33s;
    animation-delay: -33s;
    transform-origin: 20vw -24vh;
    box-shadow: -40vmin 0 5.7883123345739vmin currentColor;
}
.background span:nth-child(11) {
    color: #583C87;
    top: 97%;
    left: 5%;
    animation-duration: 55s;
    animation-delay: -8s;
    transform-origin: 10vw -8vh;
    box-shadow: 40vmin 0 5.174798822962128vmin currentColor;
}
.background span:nth-child(12) {
    color: #583C87;
    top: 33%;
    left: 2%;
    animation-duration: 41s;
    animation-delay: -20s;
    transform-origin: 6vw -9vh;
    box-shadow: -40vmin 0 5.5442017476707495vmin currentColor;
}
.background span:nth-child(13) {
    color: #E45A84;
    top: 28%;
    left: 18%;
    animation-duration: 43s;
    animation-delay: -35s;
    transform-origin: -21vw -22vh;
    box-shadow: 40vmin 0 5.8468714655748375vmin currentColor;
}
.background span:nth-child(14) {
    color: #FFACAC;
    top: 20%;
    left: 30%;
    animation-duration: 45s;
    animation-delay: -15s;
    transform-origin: 22vw -3vh;
    box-shadow: -40vmin 0 5.670669456401354vmin currentColor;
}
.background span:nth-child(15) {
    color: #E45A84;
    top: 40%;
    left: 40%;
    animation-duration: 7s;
    animation-delay: -44s;
    transform-origin: -2vw -17vh;
    box-shadow: -40vmin 0 5.8830278788653585vmin currentColor;
}
.background span:nth-child(16) {
    color: #E45A84;
    top: 12%;
    left: 63%;
    animation-duration: 54s;
    animation-delay: -24s;
    transform-origin: 0vw -16vh;
    box-shadow: 40vmin 0 5.9015239123007195vmin currentColor;
}
.background span:nth-child(17) {
    color: #583C87;
    top: 16%;
    left: 59%;
    animation-duration: 42s;
    animation-delay: -48s;
    transform-origin: 0vw -16vh;
    box-shadow: -40vmin 0 5.30961789071776vmin currentColor;
}
.background span:nth-child(18) {
    color: #FFACAC;
    top: 36%;
    left: 40%;
    animation-duration: 51s;
    animation-delay: -44s;
    transform-origin: 16vw 13vh;
    box-shadow: 40vmin 0 5.470499212925486vmin currentColor;
}
.background span:nth-child(19) {
    color: #583C87;
    top: 24%;
    left: 54%;
    animation-duration: 32s;
    animation-delay: -25s;
    transform-origin: 20vw 18vh;
    box-shadow: -40vmin 0 5.197134294341895vmin currentColor;
}